<nav class="py-2 bg-dark text-white border-bottom">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a href="./" class="nav-link link-light px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="https://github.com/about" class="nav-link link-light px-2">GitHub</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-item"><a href="https://github.com/login" class="nav-link link-light px-2">Login</a></li>
            <li class="nav-item"><a href="https://github.com/signup" class="nav-link link-light px-2">Sign up</a></li>
        </ul>
    </div>
</nav>

<header class="py-3 mb-4 bg-info border-bottom shadow-sm">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="./" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
            <img class="me-3 img-responsive" src="https://img.icons8.com/ios-glyphs/48/000000/github.png" alt="">
            <span class="fs-4">GitHub User Search</span>
        </a>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0">
            <input title="search" class="form-control" autofocus placeholder="Enter search query" type="text" #search/>
        </form>
    </div>
</header>