.avatar {
    border-radius: 50% !important;
    max-width: 70px !important;
    max-height: 70px !important;
    min-width: 70px !important;
    min-height: 70px !important;
}

.username {
    text-transform: capitalize !important;
}

.no_record p.lead {
    font-size: 20px !important;
    color: rgb(200, 200, 200) !important;
    padding: 50px 0px !important;
}

.user-summary {
    min-width: 80px !important;
}

.user-avatar {
    padding-right: 10px !important;
    margin: auto !important;
}