/* You can add global styles to this file, and also import other style files */

html,
body {
    overflow-x: hidden;
    /* Prevent scroll on narrow devices */
}

body {
    padding-top: 56px;
}

@media (max-width: 991.98px) {
    .search-result#search-result ul,
    .search-result#search-result nav ul,
    .search-result#search-result nav ul.ngx-pagination {
        padding-left: 0 !important;
        /* margin-left: -40px !important; */
    }
    .search-data {
        text-align: center !important;
    }
}